html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body
  .grid-container
    .header
      h2 OCR & Translator
    .main
      .left
        .container
          .preview
            img#_img(src='../images/logo.png')
          .select-image
            input#imgInp(type='file', name='imgToUpload' hidden)
            div#_upload
              div Choose
      .right
        .container#right-container
          .textarea
            textarea#textBox Just choose an image!
        .textarea-buttons
            img.icon-small#_copy(src='../icons/copy.svg')
            img.icon-small#_download(src='../icons/download.svg')
    .footer
      Copyright Copyright &copy; 2018 Souvik Ghosh

        
