html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body.upload
  .wrapper
    .preview
      img(id="blah" src='#', alt='Select Image')
    .button-area
      form(action='/upload', method='post', enctype='multipart/form-data')
        | Select image : 
        br
        input#imgInp(type='file', name='imgToUpload')
        br
        input(type='submit', value='Upload Image', name='submit')
    .result
      .container
        textarea#textBox

        
