@import url('https://fonts.googleapis.com/css?family=Mina:700');

///////////
// Colors
$color-1: #2c3e50;
$color-2: #3498db;
$color-3: #2ecc71;
$tomato: rgb(255, 99, 71);

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);
///////////

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */

#_img {
  max-height: 90%;
  max-width: 70%;
  align-self: center;
}

.header {
  grid-area: header;
  text-align: center;
  font-size: 35px;
  color: #f5f5f5;
  background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* The grid container */

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-rows: 125px 380px 125px;
  grid-row-gap: 0px;
}

.grid-container>div {
  text-align: center;
}

.preview {
  grid-area: preview;
  display:  flex;
  justify-content:  center;
  align-content:  center;

}

.select-image {
  display: flex;
  grid-area: choose;
  justify-content: center;
  align-items: center;
}

/* Style the left column */

.main {
  display: grid;
  grid-area: main;
  grid-template-areas: 'main-left main-right';
  grid-template-columns: 50% 50%;
  width: 100%;
}

.main .left {
  grid-area: main-left;
  background: #fff0bf;  /* fallback for old browsers */

}

.right .container {
  flex: 1;
}

.left .container {
  display: grid;
  grid-template-areas: 'preview' 'choose';
  height: 100%;
  width: 100%;
  grid-template-rows: 70% auto;
}

/* Style the right column */

.main .right {
  grid-area: main-right;
  display: flex;
  justify-content: flex-end;
}

/* Style the footer */

.footer {
  grid-area: footer;
  text-align: center;
  display:  flex;
  color: #5f5f5f;
  text-align:  center;
  justify-content:  center;
  align-items:  center;
  background: #c1c8ce;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
  
}

#_upload {
  background-color: #00b764;
  /* Green */
  border: 1px solid #9ab9a538;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 0.5px #4f804f;
}

#_upload:active {
  border: none;
  box-shadow: none;
}

#_upload:hover {
  opacity: .9;
}

//////////////////////////////////
///// Loader //////
.loader {
	position: relative;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-gap: 2px;
	width: 100px;
	height: 100px;
	
	> div {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
		background: $tomato;
		transform: scale(0.0);
		transform-origin: center center;
		animation: loader 2s infinite linear;
		
		&:nth-of-type(7) {}
		
		&:nth-of-type(1),
		&:nth-of-type(5), 
		&:nth-of-type(9) {
			animation-delay: 0.4s;
		}
		
		&:nth-of-type(4),
		&:nth-of-type(8) {
			animation-delay: 0.2s;
		}
		
		&:nth-of-type(2),
		&:nth-of-type(6) {
			animation-delay: 0.6s;
		}
		
		&:nth-of-type(3) {
			animation-delay: 0.8s;
		}
	}
}

@keyframes loader {
	0%   { transform: scale(0.0); }
	40%  { transform: scale(1.0); }
	80%  { transform: scale(1.0); }
	100% { transform: scale(0.0); }
}

////////////////////// end loader //////////////////////

///// textarea buttons ////
.textarea-buttons {
  position: absolute;
  display: grid;
}
.textarea {
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
//textbox
#textBox {
  height: 100%;
  width: 100%;
  resize: none;
  outline: none;
  background-image: -webkit-linear-gradient(left, white 10px, transparent 10px), -webkit-linear-gradient(right, white 10px, transparent 10px), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: -moz-linear-gradient(left, white 10px, transparent 10px), -moz-linear-gradient(right, white 10px, transparent 10px), -moz-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: -ms-linear-gradient(left, white 10px, transparent 10px), -ms-linear-gradient(right, white 10px, transparent 10px), -ms-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: -o-linear-gradient(left, white 10px, transparent 10px), -o-linear-gradient(right, white 10px, transparent 10px), -o-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-image: linear-gradient(left, white 10px, transparent 10px), linear-gradient(right, white 10px, transparent 10px), linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px);
  background-size: 100% 100%, 100% 100%, 100% 32px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 32px;
  font-size: 19px;
  font-family: sans-serif, 'Mina';
  word-spacing: 2px;
  padding-left: 12px;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  background-repeat: repeat-y;
  text-align: center;
}

#textBox::selection {
  background: #a8d1ff;
}
#textBox::-moz-selection {
  background: #a8d1ff;
}

//icons////
.icon-small {
  height: 40px;
  width: 25px;
  margin-right: 5px;
  opacity: 0.3;
  cursor: pointer;
}

.icon-small:active {
  opacity: 0.8;
}